/* styles.module.css */
.bgStaggered {
  background-image: url('/logo.png'); /* Adjust path as necessary */
  background-repeat: repeat; /* Repeat the image both horizontally and vertically */
  background-size: 100px 40px; /* Set a fixed size for the image */
  position: relative; /* Ensure the parent has relative positioning */
  background-blend-mode: soft-light;
}

/* Stagger effect for every other row */
.bgStaggered::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/logo.png'); /* Same image */
  background-repeat: repeat; /* Repeat the image */
  background-size: 100px 50px; /* Same size */
  transform: translateX(
    -50%
  ); /* Shift the background half an image to the left */
  opacity: 0.5; /* Adjust opacity for stagger effect */
  z-index: -1; /* Send it behind the content */
}
